:root {
  --background-light: #f8f9fa;
  --background-dark: #131111;
  --text-light: #212529;
  --text-dark: #f8f9fa;
  --box-shadow: rgba(0, 0, 0, 0.1);
}

.user-list-page,
.user-list,
.user-details {
  background-color: var(--background-light);
  transition: background-color 0.3s, color 0.3s;
}

.user-list-page {
  padding: 0px;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.user-list-details {
  display: flex;
  flex-direction: column; /* Change to column layout for mobile */
  justify-content: space-around;
  animation: fadeIn 0.5s ease-in-out;
}

.user-list {
  padding: 20px; /* Adjust padding for mobile */
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.user-list h4 {
  color: var(--text-light);
  transition: color 0.3s;
}

.avatar {
  border-radius: 40%;
  transition: transform 0.3s, box-shadow 0.3s;
}

.user-list-item:hover .avatar {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.preloader {
  border: 4px solid rgb(0, 0, 0);
  border-top: 4px solid var(--primary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 3s linear infinite;
  margin: 20px auto;
  display: block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.user-details {
  padding: 20px;
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: background-color 0.3s, color 0.3s;
}

.user-details h4,
.user-details-title {
  color: var(--text-light);
  transition: color 0.3s;
}

.user-details .avatar {
  border-radius: 50%;
  transition: transform 0.3s, box-shadow 0.3s;
}

.user-details-item:hover .avatar {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.dark-mode .user-list-page,
.dark-mode .user-list {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.dark-mode .user-list h4 {
  color: var(--text-dark);
}

.dark-mode .user-list-item:hover .avatar {
  transform: scale(0.9);
}

.dark-mode .user-details {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.dark-mode .user-details h4,
.dark-mode .user-details-title {
  color: var(--text-dark);
}

.dark-mode .user-details-item:hover .avatar {
  transform: scale(0.9);
}

.user-details-header button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dark-mode-toggle-btn {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, margin-left 0.3s ease;
}

@media only screen and (max-width: 768px) {
  .user-list {
    padding: 10px; 
  }

  .dark-mode-toggle-btn {
    margin-right: 10px; 
  }
}
